{
    "extends": "airbnb",
    "parser": "babel-eslint",
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "rules": {
        "indent": ["error", 4],
        "react/jsx-filename-extension": "off",
        "react/jsx-indent": ["error", 4]
    },
    "env": {
        "browser": true,
        "node": true
    }
}
